

.popup{
    left: 50%;
    top:20%;
    
    
}

.book_detail{
    float: left;
    padding-right: 2rem;

}
.img{
    
    width: 10rem;
    height: 15rem;
    background-color: rgba(0%,0%,100%,0.1);
    position: relative;
    float: right;
        
}
.txt{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 20%;
    z-index: -1;
    

}